<h1>Welcome to ACS730 Final Project !</h1>
<p>Hello From Sudeep</p>
<p>Built by Sudeep Team!</p>
<h2>Image Gallery from S3 Bucket</h2>
<img src="https://sudeep-finalproject-acs730.s3.amazonaws.com/kangaroo.jpg" alt="Kangaroo">
