<!DOCTYPE html>
<html>
<head>
    <title>ACS730 Final Project</title>
    <style>
        h1 { text-align: center; }
    </style>
</head>
<body>
    <h1>Devops Project By Sudeep Saurabh!</h1>
    <p>Hello</p>
    <p>reflective_kangaroo</p>

    <h2>Image Gallery from S3 Bucket</h2>
    <img src="https://{{ bucket }}.s3.amazonaws.com/reflective-kangaroo.jpg" alt="reflective-kangaroo">    
    <img src="https://{{ bucket }}.s3.amazonaws.com/kangaroo.jpg" alt="Kangaroo">
</body>
</html>